@charset "UTF-8";
/* CSS Document */

/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, menu, nav, section, summary,
time, mark, audio, video {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
	box-sizing: border-box;
}

body {
	line-height:1;
	color: #333;
}

body p {
	line-height: 1.5;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
	display:block;
}

ul,ol {
	list-style:none;
}

blockquote, q {
	quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content:'';
	content:none;
}

a {
	margin:0;
	padding:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
	box-sizing: border-box;
	text-decoration: none;
	color: #333;
	transition: all ;
}

/* change colours to suit your needs */
ins {
	background-color:#ff9;
	color:#000;
	text-decoration:none;
}

/* change colours to suit your needs */
mark {
	background-color:#ff9;
	color:#000;
	font-style:italic;
	font-weight:bold;
}

del {
	text-decoration: line-through;
}

abbr[title], dfn[title] {
	border-bottom:1px dotted;
	cursor:help;
}

table {
	border-collapse:collapse;
	border-spacing:0;
}

/* change border colour to suit your needs */
hr {
	display:block;
	height:1px;
	border:0;
	background-color: #333;
	margin: 0;
	padding:0;
}

input, select, textarea {
	vertical-align:middle;
	box-sizing: border-box;
}
/*追加*/
.fluid {
	max-width: 100%;
/*max-widthとは画像の大きさが最大で「素材そのもののサイズ」であること。
	（例:画像の横幅が1000pxの場合、ブラウザでは最大1000pxまでしか表示されない。）
	ただし、500pxとか200pxとか縮小はされる。*/
	height: auto;
	vertical-align: bottom;
}

.fluid2 {
	width: 100%;
/*widthが100%の場合、画像の画質は関係なく、どこまでも拡大・縮小される画像になる。*/
	height: auto;
	vertical-align: bottom;
}

img {
	vertical-align: bottom;
}

address {
	font-style: normal;
}

summary {
  list-style: none;
}

summary::-webkit-details-marker {
  display: none;
}
